<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.tagline }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{{#active 'index.hbs'}} active{{/active}}" href="{{dest 'index.html'}}">Home</a>
    <a class="sidebar-nav-item{{#active 'about.hbs'}} active{{/active}}" href="{{dest 'about.html'}}">About</a>
    
    <span class="sidebar-nav-item">Currently v{{ pkg.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{date "now" "YYYY"}} All rights reserved.</p>
  </div>
</div>
